<form class="container-input" action="/artist-search" method="GET">
    <input name="artist" class="input-text" type="text" placeholder="Enter artist here">
    <button class="submit-button">Search for an Artist</button>
</form>